.header{
   background-color: rgba(208, 207, 207, 0.679);    
}

.icon__logo{
font-size: 5rem;
margin: 1rem 5rem;
}

/*
Форма навигации 
*/
.link_icon{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
     text-decoration: none;
}

.icon{
    font-size: 2rem;
    margin-bottom: .5rem;
 
}

.link_form{
    display: flex;
    gap: 1.5em;
    list-style-type: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 2.5rem;
}




/*
Форма поиска 
*/
.autocomplete{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    background-color: aqua;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 111;
    max-height: 200px;
    height: auto;
    overflow: auto;
    }
    .autocomplete__item{
    padding: .5em;
    }
    .autocomplete__item:hover{
        background-color: gray;
        }
