.container {
    width: 100%;
    margin: 0 auto;
}

.container__cards {
    display: grid;
    width: 100%;
    max-width: 1540px;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 20px;
}


.card {
    width: 240px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    transition: 0.2s;
    margin: 10px;

}

.card:hover {
    box-shadow: 4px 8px 16px rgba(1, 1, 1, 0.2);
}

.card__top {
    flex: 0 0 350px;
    position: relative;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

}

.card__img>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card__label {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 4px 8px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
}

.card__bottom {
    flex: 1 0 auto;
}

.card__prices {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.card__price {
    width: 50%;
}

.card__price::after {
    content: "\20BD";
    margin-left: 4px;
}

.card__price__discount {
    width: 100px;
    font-weight: 700;
    font-size: 20px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
}

.card__price__discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 15px;
    color: #bfbfbf;
}


.card__price__common {
    width: 75px;
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;

}

.card__price__common::before {

    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.card__title {
    display: block;
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #414141;
}

/*МОДАЛЬНОЕ ОКНО*/

.modal__bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    background: gray;
    width: 1100px;
    height: 650px;
    border-radius: 20px;
}

.modal__block__section {
    display: flex;
    width: 1100px;
    height: 650px;
}

.modal__block__img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.modal__block__img {
    width: 50%;
    height: 100%;
}

.modal__block__content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 48%;
    padding: 1em;
    border-radius: 0 20px 20px 0;
}

.modal__btn__close {
    position: absolute;
    top: 13px;
    right: 13px;
    max-width: 30px;
    font-size: 25px;
    color: gray;
}

.modal__btn__close:hover {
    color: black;
}

.modal__title {
    max-width: 520px;
}

.modal__product__value {
    font-size: 25px;
    font-weight: 800;
}

.btn__modal__open {
    display: none;
    cursor: pointer;
    position: absolute;
    font-size: 17px;
    font-weight: 500;
    height: 40px;
    bottom: 205px;
    right: 0;
    left: 0;
    margin-inline: 15px;
    border-radius: 10px;
    border: none;
    background: rgba(250, 250, 250, 0.7);
}

.btn__modal__open:hover {
    background: rgb(255, 255, 255);
}

@media(min-width:1100px){
    .card:hover .btn__modal__open {
        display: block;
    }
    .modal__bg{
        display: flex;
    }
}




@media(min-width:600px) {
    .card {
        width: 300px;

    }

    .container__cards {
        column-gap: 100px;
    }
}