/* *{
  border: 1px solid gray;
} */
 html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  min-height:600px;
  flex: 1 1 auto;
  position: relative;
}

header{
  background-color: rgba(208, 207, 207, 1);
  z-index: 99;
  position: relative;
}

.footer{
  background-color: rgba(208, 207, 207, 1);
  z-index: 99;
  position: relative;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}