
html,
body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation{
    display: flex;
}
.cart, .home{
    background-color: #f1f1f1;
    min-height: 100vh;
    padding: 1rem;
}